<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <div id="top_blue_box">
            <div id="header">
                <img src="python.png" alt="python image">
                <div id="search_corner">
                    <h4>Text Size: <a href="">Normal</a> | <a href="">Large</a></h4>
                    <div id="search_box">
                        <input type="text" placeholder="Search">
                        <button>GO</button>
                    </div>
                </div>
            </div>

            <div id="nav_bar">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Downloads</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Events</a></li>
                </ul>
            </div>

            <div id="blue_body">
                <div id="left_list">
                    <ul>
                        <li><a href="">Docs</a></li>
                        <li><a href="">Audio/Visual Talks</a></li>
                        <li><a href="">Beginner's Guide</a></li>
                        <li><a href="">Developer's Guide</a></li>
                        <li><a href="">PEP Index</a></li>
                        <li><a href="">Python Books</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>

                <div id="right_body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam cupiditate maxime laudantium magni facilis sunt, recusandae perferendis accusantium accusamus cum, vero rem? Voluptates error itaque perspiciatis voluptatibus sit, hic placeat?</p>
                    <h3 class="yellow_text">Beautiful is better than ugly;</h3>
                    <h3 class="yellow_text">Explicit is better than implicit;</h3>
                    <h3 class="yellow_text">Simple is better than complex;</h3>
                    <h3 class="yellow_text">Complex is better than complicated;</h3>
                    <h3 class="yellow_text">Readability counts;</h3>
                    <h3 id="Zen">The Zen of Python</h3>
                </div>
            </div>
        </div>

        <div id="middle_white_box">
            <div class="card">
                <p class="empty_line">empty blue space</p>
                <h2>Getting Started</h2>
                <p class="lorem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil distinctio quis soluta tenetur voluptas vero suscipit debitis, iure cum beatae</p>
                <ul>
                    <li><a href="">Beginner's Guide, Programmers</a></li>
                    <li><a href="">Beginner's Guide, Non-Programmers</a></li>
                    <li><a href="">Code sample and snippets for Beginners</a></li>
                </ul>
            </div>

            <div class="card">
                <p class="empty_line">empty blue space</p>
                <h2>Applications</h2>
                <p class="lorem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil distinctio quis soluta tenetur voluptas vero suscipit debitis, iure cum beatae</p>
                <ul>
                    <li><a href="">Web and Internet Development</a></li>
                    <li><a href="">Database Access</a></li>
                    <li><a href="">Desktop GUIs</a></li>
                    <li><a href="">Network Programming</a></li>
                    <li><a href="">Software and Game Development</a></li>
                </ul>
            </div>
        </div>

        <div id="bottom_blue_box">
            <ul>
                <li><a href="">Help and General Contact</a></li>
                <li><a href="">Diversity Initiatives</a></li>
                <li><a href="">Submit Website Bugs</a></li>
            </ul>
            <p>Copyright &copy;2001-2016.</p>
        </div>
    </div>
</body>
</html>